<div class="content-wrapper container-xxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <div *ngIf="!productsInCart || productsInCart.length == 0"> 
      <div class="col-12 kb-search-content">
          <div class="card">
            <div class="text-center">
              <img src="assets/images/illustration/sales.svg" class="" alt="knowledge-base-image" style="width: 50%"/>
              <div class="card-body text-center">
                <h4>Hiện chưa có sản phẩm nào trong giỏ hàng</h4>
                <p class="text-body mt-1 mb-0">Bắt đầu khám phá ngay thôi nào</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div [hidden]="!productsInCart || productsInCart.length == 0" class="bs-stepper checkout-tab-steps" id="checkoutStepper">
      <!-- Wizard starts -->
      <div class="bs-stepper-header">
        <div class="step" data-target="#step-cart">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="shopping-cart" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Giỏ hàng</span>
              <span class="bs-stepper-subtitle">Sản phẩm đang có trong giỏ</span>
            </span>
          </button>
        </div>
        <div class="line">
          <i data-feather="chevron-right" class="font-medium-2"></i>
        </div>
        <div class="step" data-target="#step-address">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="home" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Địa chỉ</span>
              <span class="bs-stepper-subtitle">Nhập thông tin của bạn</span>
            </span>
          </button>
        </div>
        <div class="line">
          <i data-feather="chevron-right" class="font-medium-2"></i>
        </div>
        <div class="step" data-target="#step-payment">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="credit-card" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Thanh toán</span>
              <span class="bs-stepper-subtitle">Chọn phương thức thanh toán</span>
            </span>
          </button>
        </div>
      </div>
      <!-- Wizard ends -->

      <div class="bs-stepper-content">
        <!-- Checkout Place order starts -->
        <div id="step-cart" class="content">
          <div id="place-order" class="list-view product-checkout">
            <!-- Checkout Place Order Left starts -->
            <div class="checkout-items">
              <ng-container *ngFor="let product of products">
                <app-ecommerce-checkout-item
                  (isReloadCart)="refreshCart($event)"
                  [product]="product"
                ></app-ecommerce-checkout-item>
              </ng-container>
            </div>
            <!-- Checkout Place Order Left ends -->

            <!-- Checkout Place Order Right starts -->
            <div class="checkout-options">
              <div class="card">
                <div class="card-body">
                  <label class="section-label mb-1">Hóa đơn</label>
                  <!-- <div class="coupons input-group input-group-merge">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Coupons"
                      aria-label="Coupons"
                      aria-describedby="input-coupons"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text text-primary" id="input-coupons">Apply</span>
                    </div>
                  </div> -->
                  <!-- <hr /> -->
                  <div class="price-details">
                    <!-- <h6 class="price-title">Chi tiết</h6> -->
                    <!-- <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title">Total MRP</div>
                        <div class="detail-amt">$598</div>
                      </li>
                      <li class="price-detail">
                        <div class="detail-title">Bag Discount</div>
                        <div class="detail-amt discount-amt text-success">-25$</div>
                      </li>
                      <li class="price-detail">
                        <div class="detail-title">Estimated Tax</div>
                        <div class="detail-amt">$1.3</div>
                      </li>
                      <li class="price-detail">
                        <div class="detail-title">EMI Eligibility</div>
                        <a href="javascript:void(0)" class="detail-amt text-primary">Details</a>
                      </li>
                      <li class="price-detail">
                        <div class="detail-title">Delivery Charges</div>
                        <div class="detail-amt discount-amt text-success">Free</div>
                      </li>
                    </ul> -->
                    <!-- <hr /> -->
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total">Tổng cộng</div>
                        <div class="detail-amt font-weight-bolder">{{totalPrice | number}}</div>
                      </li>
                    </ul>
                    <button
                      type="button"
                      class="btn btn-primary btn-block btn-next place-order"
                      (click)="nextStep()"
                      rippleEffect
                    >
                      Đặt hàng
                    </button>
                  </div>
                </div>
              </div>
              <!-- Checkout Place Order Right ends -->
            </div>
          </div>
          <!-- Checkout Place order Ends -->
        </div>
        <!-- Checkout Customer Address Starts -->
        <div id="step-address" class="content">
          <form
            id="checkout-address"
            class="list-view product-checkout"
            [formGroup]="addressForm"
          >
            <!-- Checkout Customer Address Left starts -->
            <div class="card">
              <div class="card-header flex-column align-items-start">
                <h4 class="card-title">Điền thông tin của bạn</h4>
                <p class="card-text text-muted mt-25">
                  Đảm bảo nhập chính xác thông tin để chúng tôi có thể hỗ trợ bạn một cách tốt nhất
                </p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-name">Họ tên:</label>
                      <input
                        type="text"
                        id="checkout-name"
                        class="form-control"
                        placeholder="Nhập tên của bạn"
                        formControlName="fullName"
                      />
                      <!-- <span *ngIf="addressForm.errors?.['fullName'] && (addressForm.touched || addressForm.dirty)" class="invalid-form">
                        <small class="form-text text-danger" 
                          >Bạn cần nhập thông tin này</small
                        >
                      </span> -->
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-number">Số điện thoại:</label>
                      <input
                        type="number"
                        id="checkout-number"
                        class="form-control"
                        placeholder="Nhập số điện thoại của bạn"
                        formControlName="phoneNumber"
                      />
                      <!-- <span *ngIf="addressForm.errors?.['phoneNumber'] && (addressForm.touched || addressForm.dirty)" class="invalid-form">
                        <small class="form-text text-danger" 
                          >Bạn cần nhập thông tin này</small
                        >
                      </span> -->
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-apt-number">Địa chỉ:</label>
                      <input
                        type="text"
                        id="checkout-apt-number"
                        class="form-control"
                        placeholder="Nhập số nhà"
                        formControlName="addressDetail"
                      />
                      <!-- <span *ngIf="addressForm.errors?.['addressDetail'] && (addressForm.touched || addressForm.dirty)" class="invalid-form">
                        <small class="form-text text-danger" 
                          >Bạn cần nhập thông tin này</small
                        >
                      </span> -->
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-pincode">Ghi chú:</label>
                      <input
                        type="text"
                        id="checkout-pincode"
                        class="form-control"
                        name="pincode"
                        placeholder=""
                        formControlName="note"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="add-type">Loại địa chỉ</label>
                      <select class="form-control" id="add-type" formControlName="addressType">
                        <option value=0>Nhà riêng</option>
                        <option value=1>Nơi làm việc</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-next delivery-address"
                      (click)="validateNextStep(addressForm)"
                      rippleEffect
                    >
                      Tiếp tục
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Checkout Customer Address Left ends -->

            <!-- Checkout Customer Address Right starts -->
            <div class="customer-card">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Thông tin thanh toán</h4>
                </div>
                <div class="card-body actions">
                  <p class="card-text">Tên người nhận: {{addressForm.value.fullName}}</p>
                  <p class="card-text">Địa chỉ: {{addressForm.value.addressDetail}}</p>
                  <p class="card-text">Số điện thoại: {{addressForm.value.phoneNumber}}</p>
                  <p class="card-text">Ghi chú: {{addressForm.value.note}}</p>
                </div>
              </div>
            </div>
            <!-- Checkout Customer Address Right ends -->
          </form>
        </div>
        <!-- Checkout Customer Address Ends -->

        <!-- Checkout Payment Starts -->
        <div id="step-payment" class="content">
          <form id="checkout-payment" class="list-view product-checkout" onsubmit="return false;">
            <div class="payment-type">
              <div class="card">
                <div class="card-header flex-column align-items-start">
                  <h4 class="card-title">Phương thức thanh toán</h4>
                  <!-- <p class="card-text text-muted mt-25">Be sure to click on correct payment option</p> -->
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-holder-name my-75">Trần Hà Tuấn Anh</h6>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      id="customColorRadio1"
                      name="paymentOptions"
                      class="custom-control-input"
                      checked
                    />
                    <label class="custom-control-label" for="customColorRadio1">
                      US Unlocked Debit Card 12XX XXXX XXXX 0000
                    </label>
                  </div>
                  <div class="customer-cvv mt-1">
                    <div class="form-inline">
                      <label class="mb-50" for="card-holder-cvv">Enter CVV:</label>
                      <input
                        type="password"
                        class="form-control ml-sm-75 ml-0 mb-50 input-cvv"
                        name="input-cvv"
                        id="card-holder-cvv"
                      />
                      <button type="button" class="btn btn-primary btn-cvv ml-0 ml-sm-1 mb-50" rippleEffect>
                        Continue
                      </button>
                    </div>
                  </div>
                  <hr class="my-2" /> -->
                  <ul class="other-payment-options list-unstyled">
                    <li class="py-50">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customColorRadio5" name="paymentOptions" class="custom-control-input" checked/>
                        <label class="custom-control-label" for="customColorRadio5">Thanh toán khi nhận hàng </label>
                      </div>
                    </li>
                  </ul>
                  <!-- <hr class="my-2" /> -->
                  <!-- <div class="gift-card mb-25">
                    <p class="card-text">
                      <i data-feather="plus-circle" class="mr-50 font-medium-5"></i>
                      <span class="align-middle">Add Gift Card</span>
                    </p>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="amount-payable checkout-options">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Thông tin đơn hàng</h4>
                </div>
                
                <div class="card-body">
                  <div class="">
                    <p class="card-text">Tên người nhận: {{addressForm.value.fullName}}</p>
                    <p class="card-text">Địa chỉ: {{addressForm.value.addressDetail}}</p>
                    <p class="card-text">Số điện thoại: {{addressForm.value.phoneNumber}}</p>
                    <p class="card-text">Ghi chú: {{addressForm.value.note}}</p>
                  </div>
                  <hr />
                  <ul class="list-unstyled price-details">
                    <li class="price-detail">
                      <div class="details-title">Tổng cộng</div>
                      <div class="detail-amt font-weight-bolder">{{totalPrice | number}}đ</div>
                    </li>
                  </ul>
                  <button
                      type="button"
                      class="btn btn-primary btn-block btn-next place-order"
                      (click)="createOrder()"
                      rippleEffect
                    >
                      Xác nhận đặt hàng
                    </button>
                </div>
                
              </div>
            </div>
          </form>
        </div>
        <!-- Checkout Payment Ends -->
      </div>
    </div>
  </div>
</div>
