@import '@core/scss/core.scss';
@import './assets/scss/styles';
// @import 'node_modules/primeicons/primeicons.css';
// @import 'node_modules/primeng/resources/themes/lara-light-blue/theme.css';
// @import 'node_modules/primeng/resources/primeng.min.css';
